# Основные зависимости
Django>=5.1
djangorestframework>=3.16
python-decouple>=3.8
psycopg2-binary>=2.9
python-dotenv>=1.0.0
django-filter>=24.1
Pillow>=10.0

# JWT авторизация
djangorestframework-simplejwt>=5.3.0

# Celery + Redis
celery>=5.2
django-celery-beat>=2.5
django-redis>=5.3

# Документация (Swagger)
drf-yasg>=1.21

# CORS
django-cors-headers>=4.2

# Тестирование и отладка
pytest>=8.0
pytest-django>=4.7
coverage>=7.2
flake8>=7.0
black>=24.0